<ion-content class="contenido">

    <div style="display: block;">
        <ion-col size="12" class="ion-text-center">
            <button style="background-color: transparent;" (click)="consultPlayer()">
                <img class="title-image" src="../../assets/img/boton-verde.svg" width="xxx" height="xxx" />
                <p style="margin-top: -18%; color: white; font-size: 10px;" class="font text-btn">TEMPORADA 1</p>
            </button>
        </ion-col>
            <div style="        margin-top: -2%;
            width: 35%;
            height: 40%;
            background-color: whitesmoke;
            color: black;
            margin-left: 63%;">
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="6">Icono</ion-col>
                        <ion-col size="6">Categoria</ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        
    </div>
    <!-- <img class="title-image" src="../../assets/img/boton-verde.svg" width="xxx" height="xxx" /> -->

</ion-content>