.contenido {
    --background: none;
    background-image: url("../../../assets/img/Escenario.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#container {
    text-align: center;
    // position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    // transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.font {
    font-family: font-game !important;
}

.text-input {
    margin-top: -15%;
    z-index: 999;
    color: black;
    font-size: -75rem;
}

.text-btn {
    // color: #ffff;
    margin-top: -18%
}

.containerImg:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // height: 100%;
    // width: 100%;
    opacity: 0;
    // transition: .5s ease;
    // background-color: #008CBA;
}

// CARUSEL PUBLICIDAD
body {
    align-items: center;
    // background: #E3E3E3;
    display: flex;
    height: 100vh;
    justify-content: center;
}

@mixin white-gradient {
    // background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 50s;
// Animation
@keyframes scroll {
    0% {
        transform: translateX(calc(150 * 7));
    }
    100% {
        transform: translateX(calc(-150px * 7))
    }
}

// Styling
.slider {
    // background: white;
    // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    &::before,
    &::after {
        @include white-gradient;
        content: "";
        height: 100px;
        position: absolute;
        width: 200px;
        z-index: 2;
    }
    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }
    &::before {
        left: 0;
        top: 0;
    }
    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex-end;
        // width: calc(250px * 14);
    }
    .slide {
        height: 100px;
        width: -1%;
    }
}