<ion-content [fullscreen]="true" class="contenido">
    <div>
        <button style="background-color: transparent;">
            <div style="display: block;" id="container">
                <img style="display: flex;margin: 2rem;" class="title-image" src="../../assets/img/reloj.svg"
                    width="xxx" height="xxx" />
                <label style="display: flex;
              margin: 1.2rem;
              margin-top: -40%;
              color: burlywood;
              font-size: 30px;" class="font" for="">20</label>
                <!-- <p class="font" style="display: flex;margin: 2rem;">20</p> -->
            </div>
        </button>
    </div>
    <button style="background-color: transparent; margin-top: 20%; width: 35%;
    " (click)="onClick()">
        <img class="title-image" src="../../assets/img/boton-verde.svg" width="xxx" height="xxx" />
        <p style="margin-top: -9%;
        color: white;
        width: 100%;
        font-size: 10px;" class="font text-btn">RUSIA 2018 </p>
        <div style="
    padding: 5px;
    /* max-width: 94%; */
    max-height: 20%;
    margin-left: 0%;
    background-color: white;
    color: black;
    width: 100%;" *ngFor="let response of preguntas; let i = index">
            <p style="font-size: .8rem">{{response.text}}</p>
        </div>
    </button>
    <!-- <div style="margin-top: -36%; margin-left: 0%; width: 100%;">
        <img style="width: 100%;" class="title-image" src="../../assets/img/arco.svg" width="xxx" height="xxx" />
    </div> -->
    <div style="margin-top: -36%; margin-left: 43%;">
        <img style="width: 25%;" class="title-image" src="../../assets/img/arquero.svg" width="xxx" height="xxx" />
    </div>
    <div style="margin-top: -5%; margin-left: 40%;">
        <img class="title-image" src="../../assets/img/jugador.svg" width="xxx" height="xxx" />
    </div>
    <div style="margin-top: -10%; margin-left: 50%;">
        <img style="width: 5%;" class="title-image" src="../../assets/img/balon.svg" width="xxx" height="xxx" />
    </div>
    <ion-grid style="margin-top: -10%; width: 50%; margin-left: 50%;">
        <ion-row>
            <ion-col size="6" *ngFor="let response of respuestas; let i = index">
                <button style="background-color: transparent;" (click)="onClick(response)">
                    <img *ngIf="response.valid; else elseBlock" class="title-image" [src]="this.buton" width="xxx"
                        height="xxx" />
                    <ng-template #elseBlock><img class="title-image" [src]="this.buton"
                            width="xxx" height="xxx" /></ng-template>

                    <p style="font-size: .55rem;" class="text-input font">{{response.text}}</p>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>