.contenido {
    --background: none;
    background-image: url("../../../assets/gifs/Celebración.gif");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}